html {
  box-sizing: border-box;
  background-color: #dbd6cf;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: #79756f;
  border: 3px solid #595652;
  color: #fff;
  margin: 0;
  text-align: center;
}

h1 {
  padding: 0;
  margin: .3em 0;
  font-family: Bevan, serif;
}

.planets li {
  display: inline-block;
  list-style-type: none;
  font-family: sans-serif;
}

.planets a {
  text-decoration: none;
  background-color: #713837;
  color: #fff;
  margin: .3em;
  padding: .6em .5em .75em;
  border-radius: 5px;
}

.planets a:hover {
  background-color: #f33;
  text-decoration: none;
}
