html {
  box-sizing: border-box;
  background-color: #dbd6cf;
  font-family: Georgia, sans-serif;
  line-height: 1.5;
}

body {
  background-color: #79756f;
  color: #fff;
  margin: .3em;
  text-align: center;
}

h1 {
  padding: .5em;
}

.planets li {
  display: inline-block;
  background-color: #713837;

}
